<div class="container">
  <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
          <h3 class='text-center'>{{author}}<b>App</b>Y <small>{{subtitle}}</small></h3>
        </div>
        <div class="flex-center">
          <img class="img-rounded {{size}}" src={{hotness}} alt="">
        </div>
        <blockquote class='text-center'>
          <p class="cursive-font">{{quote}}</p>
          <footer>{{author}}</footer>
        </blockquote>
        <a href="/comrade">
          <button type="button" class="btn btn-success btn-lg btn-block">More {{author}}</button>
        </a>
        <a href="/">
          <button type="button" class="btn btn-link">
            C'nuck {{author}}
          </button>
        </a>
      </div>
  </div>
</div>